/java/testJava/nbproject/private/
/java/testJava/build/
/java/testJava/dist/
/java/ReadXMLFile/JavaApplication2/nbproject/private/
/java/ReadXMLFile/ReadXMLFile/nbproject/private/
/java/ReadXMLFile/nbproject/private/
/java/ReadXMLFile/dist/
/java/ReadXMLFile/build/
/java/photoSearch/nbproject/private/
/java/photoSearch/build/
/java/photoSearch/dist/